/*big window*/
@media (min-width: 1000px) {
    #nav-logo {
        vertical-align: top;
        font-size: 20px;
        line-height: 40px;
        font-weight: bolder;
        text-align: center;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 200px auto;
    } 

    #side-menu {
        display: grid;
        grid-column: 1/2;
        grid-template-rows: min-content;
        position: fixed;
    }

    #main-doc {
        grid-column: 2/3;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-button {
        border: 1px solid black;
        padding: 5px;
        margin: 5px auto;
        width: 175px;
        text-align: center;
        font: 1em sans-serif;
    }

    .menu-link {
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
    }

    h1 {
        margin: 3px 0px 0px 0px;
        border: 0px;
        padding: 0px;
    }

    .title {
        vertical-align: top;
        line-height: 40px;
    }

}

/*small window*/
@media (max-width: 1000px) {
    #nav-logo {
        vertical-align: top;
        font-size: 15px;
        line-height: 40px;
        font-weight: bolder;
        text-align: center;
    }

    #grid-container {
        display: grid;
        grid-template-rows: 75px auto;
    } 

    #side-menu {
        grid-row: 1/2;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        position: fixed;
        background-color: white;
        border: solid white;
    }

    #main-doc {
        grid-row: 2/3;
    }

    #navbar {
        display: flex;
        flex-direction: row;        
    }

    .menu-button {
        border: 1px solid black;
        padding: 5px;
        margin: 2px;
        display: flex;
        flex-direction: row;
        align-self: center;
        text-align: center;
        font: 10px sans-serif;
    }

    .menu-link {
        text-decoration: none;
        font-weight: none;
        text-transform: uppercase;
        color: black;
    }


    .title {
        font-size: 13px;
    }

}