@media (max-width: 1000px) {
    #grid-container {
        display: flex;
        flex-direction: column;
    }

    #side-menu {
        grid-row: 1/2;
        display: flex;
        height: auto;
        flex-direction: row;
        position: fixed;
        align-content: flex-start;
        background-color: white;
    }

    #nav-logo {
        display: flex;
        align-self: center;
    }

    #navbar {
        display: flex;
        flex-direction: row;
    }
    
    #main-doc {
        grid-row: 2/4;
        margin-top: 30px;
    }

    .menu-button {
        border: 2px solid black;
        padding: 5px;
        margin: 5px;
        text-align: center;
    }
}

@media (min-width: 1000px) {
    #nav-logo {
        text-align: center;
        grid-row: 1/2;
    }

    #navbar {
        grid-row: 2/5;
    }   

    .menu-button {
        border: 2px solid black;
        padding: 5px;
        margin: 5px 5px 5px 0px;
        text-align: left;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 150px 100%;
    }

    #side-menu {
        grid-column; 1/2;
        display: grid;
        grid-auto-rows: 30px 1vh;
    }

    #main-doc {
        grid-column: 2/4;
        display: grid;
        grid-template-columns: auto;
    }
}

h1 {
    margin: 0px 0px 10px 0px;
}

#teste {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
} 